DatabaseWS/WebContent/wsdl/QuantityCheckWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.itc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.itc.com" xmlns:intf="http://ws.itc.com" xmlns:tns1="http://beans.itc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.itc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.itc.com"/>
   <element name="getQuantity">
    <complexType>
     <sequence>
      <element name="product" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuantityResponse">
    <complexType>
     <sequence>
      <element name="getQuantityReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.itc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Product">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="pname" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:double"/>
     <element name="quantity" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuantityRequest">

      <wsdl:part element="impl:getQuantity" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuantityResponse">

      <wsdl:part element="impl:getQuantityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="QuantityCheckWSImpl">

      <wsdl:operation name="getQuantity">

         <wsdl:input message="impl:getQuantityRequest" name="getQuantityRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuantityResponse" name="getQuantityResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="QuantityCheckWSImplSoapBinding" type="impl:QuantityCheckWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuantity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuantityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuantityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="QuantityCheckWSImplService">

      <wsdl:port binding="impl:QuantityCheckWSImplSoapBinding" name="QuantityCheckWSImpl">

         <wsdlsoap:address location="http://localhost:8080/DatabaseWS/services/QuantityCheckWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
